<h2>Edit Product</h2>
    <form method="POST" action="/Product/edit/{{productDocument._id}}/?_method=PUT">

        <label>Product Title</label>
        <input type="text" name="title" id="title" value="{{productDocument.title}}"> <br><br>

        <lable>Product Price</lable>
        <input type="text" name="price" id="price" value="{{productDocument.price}}"> <br><br>

        <lable>Quantity On Hand</lable>
        <input type="text" name="quantity" id="quantity" value="{{productDocument.quantity}}"> <br><br>

        <label>Product Description</label>
        <textarea id="description" name="description">{{productDocument.description}}</textarea><br><br>

         <lable>Taxable Item</lable>
        <input type="radio" name="taxable" value"{{productDocument.taxable}}">

        <input type="submit" value="Edit Product">
    </form>
    

    
</main>